body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    background-color: #FDF2F2;
}
header{
    background-color: #fff;
    /* border-bottom: 1px solid #ccc; */
    text-align: center;
    /* margin-top: 60px; */
    background-color: #FDF2F2; 
}

main{
    border-bottom:1px solid #ccc;
    margin: opx;
}


footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    text-align: center;
}
li:hover{
    background: #F4D1E9;
    color:#fff;
}

.com {
    text-align: center;
}

#judgment {
    text-align: center;
}